hr {
  margin: 6rem auto;
}

.agency-clients li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.agency-clients img {
  width: auto;
  height: 3rem;
}

.fields {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.5rem;
}

.fields .field[data-width="1/1"] {
  grid-column: span 12;
}
.fields .field[data-width="1/2"] {
  grid-column: span 6;
}
.fields .field[data-width="1/3"] {
  grid-column: span 4;
}
.fields .field[data-width="1/4"] {
  grid-column: span 3;
}
.fields .field[data-width="2/3"] {
  grid-column: span 8;
}

.field label {
  display: block;
  margin-bottom: .5rem;
}
.field input,
.field textarea {
  width: 100%;
  font: inherit;
  border: 1px solid #aaa;
  padding: .5rem;
  border-radius: .25rem;
}

.field textarea {
  height: 10rem;
}
