.k-box[data-theme="white"] {
  background: #fff;
  box-shadow: var(--box-shadow-item);
  border-radius: 3px;
  border-left: 0;
  padding: 1rem 1.5rem;
  font-size: var(--font-size-normal);
}

.k-card-options > span.k-button {
  display: none;
}
